.form-input {
  width: 100%;
  padding: 12px 14px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}
.form-input:focus {
  border-color: #241db6;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.2);
}